body {
    margin: 0px 15px;
    /* opacity: 50$; */
    background-image: linear-gradient(rgb(29, 57, 82), cadetblue);
    background-color: ;
}

div h1 {
    margin: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    background-color: cadetblue;
    color: white;
    font-style: italic;

}

.banner {
    margin-top: 15px;
    text-align: center;
    align-content: center;
    align-items: center;
    height: auto;
    background-image: linear-gradient(rgb(29, 57, 82), cadetblue);
    /* border: 1px solid red; */
}

.banner a img {
    border-radius: 10px;
    width: 100%;
}

.banner a:hover{
    opacity: 0.8;
}


.container {
    /* border: 1px solid red; */
    margin: auto;
    max-width: 992px;
}

p em strong {
    color: seashell;
    text-decoration-line: underline;
}

.text-container {
    /* border: 1px solid red; */
    margin-top: 10px;
}

section {
    border:2px solid teal;
    border-radius: 0.5em;
    padding: 15px;
    background-color: white;
}


.text-content {
    /* border: 1px solid red; */
    margin-bottom: 3em;
    padding: 10px;
    background-image: linear-gradient(rgb(29, 57, 82), cadetblue);
    color: white;
    border-radius: 0px 10px;
    width: 40%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
